geopandas==0.14.2
matplotlib==3.8.2
matplotlib-inline==0.1.6
numpy==1.26.3
pandas==2.1.4
pyarrow==14.0.2
python-dateutil==2.8.2
requests==2.31.0
schedule==1.2.1
widgetsnbextension==4.0.9
zipp==3.17.0
